<h1>hello</h1>    
{% if latest_person_list %}
    <ul>
    {% for person in latest_person_list %}
        <li>{{ person.name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} 


{% if latest_field %}                                             
    <ul>                                                                
    {% for fields in latest_field %}                              
        <li>{{ fields.field }} {{ fields.field_detail}}</li>                                      
    {% endfor %}                                                        
    </ul>                                                               
{% else %}                                                              
    <p>No polls are available.</p>                                      
{% endif %}




<!--                                                                        
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                                                                        
{% csrf_token %}                                                        
{% for profile in person.choice_set.all %}                             
<input type="submit" value="Vote" />                                    
    <label for="profile{{ forloop.counter }}">{{ profile.field }}</label><br />
{% endfor %}                                                            
</form>     -->                                                            
